<!DOCTYPE html>
<html lang="en">
  <head>
    <title>to-do</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>

  </head>

  <body>
    <!-- sidebar w/ profile icon -->
    <div class="sidebar">
      <aside>
        <a href=""><img src="https://i.ibb.co/55wr5sW/profile-icon.png" alt="profile-icon"></a>
      </aside>
    </div>

    <!-- tasks view here -->
    <main class="container">
      <!-- the button to add a task -->
      <div class="add-task">
        <form action="/tasks" method="POST" id="tasksform">
          <button type="submit" name="task" class="task-button"><i class="far fa-edit"></i> add a task</button>
        </form>
      </div>

      <!-- the div for the 4 category cards -->
      <div class="cards">

        <!-- this is the to watch card -->
        <div class="to-watch">
          <h5>things to watch</h5>
          <ul>
            <li>pride and prejudice</li>
            <li>the breakfast club</li>
          </ul>
          <!-- this will eventually be a section like this:
          <section class="to-watch-list"></section> -->
        </div>

        <!-- this is the to eat card -->
        <div class="to-eat">
          <h5>places to eat</h5>
          <ul>
            <li>yolks</li>
            <li>osterio savio volpe</li>
          </ul>
          <!-- this will eventually be a section like this:
          <section class="to-eat-list"></section> -->
        </div>

        <!-- this is the to read card -->
        <div class="to-read">
          <h5>books to read</h5>
          <ul>
            <li>the name of the wind</li>
            <li>mistborn</li>
          </ul>
          <!-- this will eventually be a section like this:
          <section class="to-read-list"></section> -->
        </div>

        <!-- this is the to buy card -->
        <div class="to-buy">
          <h5>things to buy</h5>
          <ul>
            <li>shampoo</li>
            <li>potatoes</li>
          </ul>
          <!-- this will eventually be a section like this:
          <section class="to-buy-list"></section> -->
        </div>

      </div>


    </main>
  </body>
</html>
