// See: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

$font-stack: 'Inter', sans-serif;
$primary-color: #1655b4;

// global styles
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1em;
  font-family: $font-stack;
  line-height: 16px;
  word-break: break-word;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $primary-color;
  text-transform: lowercase;
  letter-spacing: 0.5px;
  background-color: #69A4FE;

  h5 {
    color: #244751;
    font-size: 1.2em;
    padding-left: 7%;
  }

  ul {
    padding-left: 10%;
    margin-top: -2%;
    list-style-type: none;
  }

  ul li {
    position: relative;
    padding-left: 24px;
    padding-bottom: 10px;
  }

  ul li:before {
    content:'∗';
    position:absolute;
    display:block;
    left:0;
    top:-1px;
    font-size:16px;
    color:rgb(190,190,190);
  }

  a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
  }

  a:hover {
    color: #69A4FE!important;
  }

  aside {
    position: fixed;
    float: right;
    right:0;
    top: 0;
    bottom: 0;
    // padding:124px 48px 124px 107px;
    width: 5%;
    background-color:#69A4FE;
    display: flex;
    justify-content: center;

    img {
      height: 60px;
      // right: 0;
      // left: 0;
      margin-top: 30%;
    }
  }
}

// main body stuff

.container {
  background-color: #EEF4FF;
  display: inline-block;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: center;
  width: 95%;
  height: 100vh;

  .add-task {
    // position: absolute;
    width: 200px;
    height: 60px;
    float: right;
    margin-top: 2%;
    margin-right: 5%;
    background: linear-gradient(90deg, #3d75c9 0%, #69a4fe 73.7%);
    border-radius: 50px;

    textarea {
      resize: none;
      // margin-top: 1em;
      width: 55%;
      height: 28px;
      border: 0px;
      font-family: $font-stack;
      font-size: 0.8em;
      font-weight: 400px;
      background-color: inherit;
      color: #ffffff;
      opacity: 100%;
    }
  }

  .add-task:hover {
    box-shadow: 8px 8px 8px #c4dcff;
    transition:all .3s linear;    
    -webkit-transition:all .3s linear;
    -o-transition:all .3s linear;
    -moz-transition:all .3s linear;    
  }

  button {
    margin-top: 10%;
    background-color: inherit;
    border: 0px;
    margin-left: 1%;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.1em;
    width: 195px;
  }

  i {
    padding-right: 10%;
  }

  .cards {
    width: 65%;
    display: flex;
    padding-top: 10%;
    padding-left: 20%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-between;
  }

  .category-card {
    width: 430px;
    margin-bottom: 2%;
    height: 300px;
    background: #ffffff;
    border-radius: 25px;
  }

  .category-card:hover {
    box-shadow: 8px 8px 8px #c4dcff;
    transition:all .3s linear;    
    -webkit-transition:all .3s linear;
    -o-transition:all .3s linear;
    -moz-transition:all .3s linear;
  }
}
